header {
    background-color: black;
}

header nav ul {
    display: flex;
    margin: 5px;
}

header nav ul {}

header nav ul li {
    list-style: none;
    padding: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}